# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Build / compiled output
# =========================
out/
*.class

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary files
# =========================
*.tmp
*.swp

# =========================
# Java crash logs
# =========================
hs_err_pid*
replay_pid*